<h2>DAPP</h2>


<p>Please enter the amout to deposit: </p>
<input type = "number" id="amount_deposited" >
<button class = "btn" onclick= "save_money()">Enter</button>
<p><button class="btn" onclick= "view_money()">View_Money</button></p>
<p id = "display_amount" ></p>

<script src="https://cdn.jsdelivr.net/npm/web3@1.5.2/dist/web3.min.js"></script>
<script>
    const contract_address="0x98c272d82a146a23fe6e5ceab8561454d7822369"
    const contract_abi = [[
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "transfer_amt",
				"type": "uint256"
			}
		],
		"name": "transfer_m",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "retrieve_m",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	}
]

    ]

    const web3 = new Web3(Web3.givenProvider);
    const contract = new web3.eth.Contract(contract_abi,contract_address)

    async function save_money(params) {
        const accounts = await web3.eth.requestAccounts();
        console.log(accounts[0]);
        const amount_d = document.getElementById("amount_deposited").value;
        console.log(amount_d);
        await contract.methods._m(amount_d).send({from: accounts[0]})
    }

    async function view_money(params) {
        const store_amount = await contract.methods.view_m(amount_d).call();
        console.log(stored_amount);
        document.getElementById("display_amount").innerText = stored_amount;

        
    }

</script>



